
<MudAppBar Color="Color.Dark" Fixed="false">
    <div class="d-flex flex-row gap-3">
        <MudButton Href="WorkOrder/Home" Variant="Variant.Filled" Color="Color.Dark">Ordem de Serviço</MudButton>
    </div>
</MudAppBar>