.meu-container-nav ::deep .mud-appbar {
    background-color: #1E293B !important;
}

/* Estilo padrão do botão */
.meu-container-nav ::deep .mud-button-root {
    text-transform: none !important;
    border-radius: 8px !important;
    background-color: #1E293B !important;
    color: #FFFFFF !important; /* Cor do texto  */
    transition: background-color 0.5s ease; 

    font-size: 16px !important; /* Defina o tamanho que desejar aqui */
}


    .meu-container-nav ::deep .mud-button-root:hover {
        background-color: #455266 !important;
        cursor: pointer !important;
    }
