@rendermode InteractiveServer

<MudAppBar Color="Color.Dark" Fixed="false">
    <div class="d-flex flex-row gap-3">
        <MudButton Href="WorkOrder/Home" Variant="Variant.Filled" Color="Color.Dark">Ordem de Serviço</MudButton>
        <MudMenu Label="Veículos" Variant="Variant.Filled" Color="Color.Dark">
            <MudMenuItem Label="Cadastro de Veículos" Href="Vehicle/Home" />
            <MudMenuItem Label="Cadastro de Marcas" Href="VehicleBrand/Home" />
        </MudMenu>
        <MudButton Href="Client/Home" Variant="Variant.Filled" Color="Color.Dark">Clientes</MudButton>
        <MudMenu Label="Configurações" Variant="Variant.Filled" Color="Color.Dark">
            <MudMenuItem Label="Cadastro de Status" Href="Status/Home" />
        </MudMenu>
    </div>
</MudAppBar>