@page "/Status/Home"
@rendermode InteractiveServer

<section class="d-flex flex-column gap-3">

    <h3>Lista de Status</h3>

    <div>
        <MudButton Variant="Variant.Filled" Color="Color.Success" OnClick="Add">Adicionar Status</MudButton>
    </div>

    <div>
        <MudTable Items="@_statuses" Hover="true" Breakpoint="Breakpoint.Sm">
            <ColGroup>
                <col />
                <col style="width: 20%;" />
            </ColGroup>
            <HeaderContent>
                <MudTh>Nome do Status</MudTh>
                <MudTh>Ações</MudTh>
            </HeaderContent>
            <RowTemplate>
                <MudTd>@context.Status</MudTd>
                <MudTd>
                    <MudButton OnClick="@(() => Edit(context))" Variant="Variant.Outlined" Color="Color.Warning">Editar</MudButton>
                    <MudButton OnClick="@(() => Delete(context))" Variant="Variant.Outlined" Color="Color.Error">Deletar</MudButton>
                </MudTd>
            </RowTemplate>
        </MudTable>
    </div>

</section>



@code {

    private List<tStatus> _statuses = new List<tStatus>();

    protected override async Task OnInitializedAsync()
    {
        await UpdateData();
    }

    private async Task UpdateData()
    {
        try
        {
            _statuses = await DBAutoTrackContext.tStatus.ToListAsync();
        }
        catch (Exception ex)
        {
            Redirect.Error(ex);
        }
    }

    private async Task Add()
    {
        try
        {
            var dialog = await Dialog.ShowAsync<AddStatus>("AddStatus");
            var result = await dialog.Result;

            if (!result!.Canceled)
            {
                await UpdateData();
                Snack.SuccessAdd();
            }
        }
        catch (Exception ex)
        {
            Redirect.Error(ex);
        }
    }

    private async Task Edit(tStatus status)
    {
        try
        {
            var parameters = new DialogParameters<EditStatus>
            {
                { x => x.form, status }
            };

            var dialog = await Dialog.ShowAsync<EditStatus>("EditStatus", parameters);
            var result = await dialog.Result;

            if (!result!.Canceled)
            {
                await UpdateData();
                Snack.SuccessEdit();
            }
        }
        catch (Exception ex)
        {
            Redirect.Error(ex);
        }
    }

    private async Task Delete(tStatus status)
    {
        try
        {
            var parameters = new DialogParameters<DeleteStatus>
            {
                { x => x.form, status }
            };

            var dialog = await Dialog.ShowAsync<DeleteStatus>("DeleteStatus", parameters);
            var result = await dialog.Result;

            if (!result!.Canceled)
            {
                await UpdateData();
                Snack.SuccessDelete();
            }
        }
        catch (Exception ex)
        {
            Redirect.Error(ex);
        }
    }

}
