@page "/Error"
@using System.Diagnostics

<PageTitle>Error</PageTitle>

<h1 class="text-danger">Erro.</h1>
<h2 class="text-danger">Ocorreu um erro ao processar a solicitação..</h2>
<h3><strong>Erro: @ErrorMessage.</strong></h3>
<h4>Interno: @InnerError.</h4>
<h5>Detalhes: @Details.</h5>

@code {

    [SupplyParameterFromQuery]
    public string? ErrorMessage { get; set; }

    [SupplyParameterFromQuery]
    public string? InnerError { get; set; }

    [SupplyParameterFromQuery]
    public string? Details { get; set; }

    [CascadingParameter]
    private HttpContext? HttpContext { get; set; }

    private string? RequestId { get; set; }
    private bool ShowRequestId => !string.IsNullOrEmpty(RequestId);

    protected override void OnInitialized() =>
        RequestId = Activity.Current?.Id ?? HttpContext?.TraceIdentifier;
}
