<MudDialog TitleClass="bg-success text-white" ContentClass="py-5">
    <TitleContent>
        <h3>Adicionar Veículo</h3>
    </TitleContent>
    <DialogContent>
        <MudForm Model="@form" Spacing="2">

            <MudSelect Variant="Variant.Outlined" Label="Marca" @bind-Value="@_idBrand">
                @foreach (tVehicleBrand brand in _brands)
                {
                    <MudSelectItem Value="brand.IdVehicleBrand">@brand.Brand</MudSelectItem>
                }
            </MudSelect>

            <MudTextField Variant="Variant.Outlined" For="@(() => form.Vehicle)" Label="Modelo" @bind-Value="form.Vehicle" />

        </MudForm>
    </DialogContent>
    <DialogActions>
        <MudButton OnClick="Cancel">Cancelar</MudButton>
        <MudButton Variant="Variant.Filled" Color="Color.Success" OnClick="Submit">Adicionar</MudButton>
    </DialogActions>
</MudDialog>

@code {
    [CascadingParameter]
    private IMudDialogInstance MudDialog { get; set; }

    public vwVehicle form { get; set; } = new();

    private int _idBrand { get; set; } = new();
    private List<tVehicleBrand> _brands { get; set; } = [];

    protected override async Task OnInitializedAsync()
    {
        _brands = await DBAutoTrackContext.tVehicleBrand.ToListAsync();
        if (_brands.Any())
            _idBrand = _brands.First().IdVehicleBrand;
    }

    private void Submit()
    {
        tVehicle vehicle = new()
        {
            IdVehicleBrand = _idBrand,
            Vehicle = form.Vehicle,
        };

        DBAutoTrackContext.tVehicle.Add(vehicle);
        DBAutoTrackContext.SaveChanges();


        MudDialog.Close(DialogResult.Ok(true));
    }

    private void Cancel() => MudDialog.Cancel();
}