<MudDialog TitleClass="bg-warning text-white" ContentClass="py-5">
    <TitleContent>
        <h3>Editar Marca</h3>
    </TitleContent>
    <DialogContent>
        <MudForm Model="@form" Spacing="2">
            <MudTextField For="@(() => form.Brand)" @bind-Value="form.Brand" Label="Marca do Veículo" Variant="Variant.Outlined" />
        </MudForm>
    </DialogContent>
    <DialogActions>
        <MudButton OnClick="Cancel">Cancel</MudButton>
        <MudButton Variant="Variant.Filled" Color="Color.Success" OnClick="Submit">Salvar Alterações</MudButton>
    </DialogActions>
</MudDialog>

@code {
    [CascadingParameter]
    private IMudDialogInstance MudDialog { get; set; }

    [Parameter]
    public tVehicleBrand form { get; set; } = new();

    private void Submit()
    {
        tVehicleBrand? brand = DBAutoTrackContext.tVehicleBrand.Find(form.IdVehicleBrand);
        if (brand is null) Cancel();

        brand!.Brand = form.Brand;

        DBAutoTrackContext.Entry(brand).State = EntityState.Modified;
        DBAutoTrackContext.SaveChanges();

        MudDialog.Close(DialogResult.Ok(true));
    }

    private void Cancel() => MudDialog.Cancel();

}
