<MudDialog TitleClass="bg-danger text-white" ContentClass="py-5">
    <TitleContent>
        <h3>Deletar Status</h3>
    </TitleContent>
    <DialogContent>
        <MudForm Model="@form" Spacing="2">
            <MudTextField Variant="Variant.Outlined" For="@(() => form.Status)" Label="Nome do Status" @bind-Value="form.Status" ReadOnly="true" />
        </MudForm>
    </DialogContent>
    <DialogActions>
        <MudButton OnClick="Cancel">Cancel</MudButton>
        <MudButton Variant="Variant.Filled" Color="Color.Error" OnClick="Submit">Deletar</MudButton>
    </DialogActions>
</MudDialog>

@code {
    [CascadingParameter]
    private IMudDialogInstance MudDialog { get; set; }

    [Parameter]
    public tStatus form { get; set; } = new();


    private void Submit()
    {
        tStatus? status = DBAutoTrackContext.tStatus.Find(form.IdStatus);
        if (status is null) Cancel();

        DBAutoTrackContext.tStatus.Remove(status!);
        DBAutoTrackContext.SaveChanges();

        MudDialog.Close(DialogResult.Ok(true));
    }

    private void Cancel() => MudDialog.Cancel();
}