@page "/VehicleBrand/Home"
@rendermode InteractiveServer

<section class="d-flex flex-column gap-3">

    <h3>Lista de Marcas</h3>

    <div>
        <MudButton Variant="Variant.Filled" Color="Color.Success" OnClick="Add">Adicionar Marca</MudButton>
    </div>

    <div>
        <MudTable Items="@_brands" Hover="true" Breakpoint="Breakpoint.Sm">
            <ColGroup>
                <col style="width: 80%;" />
                <col />
            </ColGroup>
            <HeaderContent>
                <MudTh>Marca</MudTh>
                <MudTh>Ações</MudTh>
            </HeaderContent>
            <RowTemplate>
                <MudTd>@context.Brand</MudTd>
                <MudTd>
                    <MudButton OnClick="@(() => Edit(context))" Variant="Variant.Outlined" Color="Color.Warning">Editar</MudButton>
                    <MudButton OnClick="@(() => Delete(context))" Variant="Variant.Outlined" Color="Color.Error">Deletar</MudButton>
                </MudTd>
            </RowTemplate>
        </MudTable>
    </div>

</section>



@code {

    private List<tVehicleBrand> _brands = new List<tVehicleBrand>();

    protected override async Task OnInitializedAsync()
    {
        await UpdateData();
    }

    private async Task UpdateData()
    {
        _brands = await DBAutoTrackContext.tVehicleBrand.ToListAsync();
    }

    private async Task Add()
    {
        var dialog = await Dialog.ShowAsync<AddVehicleBrand>("AddVehicleBrand");
        var result = await dialog.Result;

        if (!result.Canceled)
        {
            await UpdateData();
            Snack.SuccessAdd();
        }
    }

    private async Task Edit(tVehicleBrand brand)
    {
        var parameters = new DialogParameters<EditVehicleBrand>
        {
            { x => x.form, brand }
        };

        var dialog = await Dialog.ShowAsync<EditVehicleBrand>("EditVehicleBrand", parameters);
        var result = await dialog.Result;

        if (!result.Canceled)
        {
            await UpdateData();
            Snack.SuccessEdit();
        }
    }

    private async Task Delete(tVehicleBrand brand)
    {
        var parameters = new DialogParameters<DeleteVehicleBrand>
        {
            { x => x.form, brand }
        };

        var dialog = await Dialog.ShowAsync<DeleteVehicleBrand>("DeleteVehicleBrand", parameters);
        var result = await dialog.Result;

        if (!result.Canceled)
        {
            await UpdateData();
            Snack.SuccessDelete();
        }
    }

}
